.visible-error{
    display: block;
    font-size: 0.9rem;
    color: rgb(216, 36, 51);
}
.invalid-input{
    border: 1px solid red;
} 

input:focus + div{
    display: none;
}

.on-change + div{
    display: none;
}
.on-change{
    border: 1px solid #dee2e6;
    background-color: white;
}