body, .card{
    background-color: bisque;
}

#navbar-example2{
    background-color: rgb(245, 212, 171) !important
}

.nav-link:hover{
    filter: invert(11%) sepia(58%) saturate(4716%) hue-rotate(4deg) brightness(98%) contrast(95%);
}
.card-img-top{
    transition-duration: 2s;
    background-color: #fff;
}

.card-img-top:hover{
    transform: scale(1.2);  
}

.button-reduce{
    width: 35px;
    height: 25px;
    font-weight: bolder;
}
.button-reduce, .button-menu{
    background-color: burlywood;
    border-radius: 9px;
    border: 2px solid burlywood;
}
.button-reduce:hover, .button-menu:hover{
    border: 2px solid burlywood;
    background-color: beige;
}
.button-menu{
    padding: 10px;
    color: black;
    text-decoration: none;
}
